<h2>Contact</h2>
<p><%= lorem.sentence %></p>
<h3><%= lorem.sentence %></h3>
<p><%= lorem.paragraph %></p>
<%= image_tag 'http://lorempixel.com/990/500/sports/', class:'img-responsive' %>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>